<div class="outer-div-row">
  <div class="outer-div">
    <mat-icon><a style="color: #FFFFFF;" [routerLink]="['/welcome']">home</a></mat-icon>
    <span>Home</span>
  </div>
  <div class="outer-div">
    <mat-icon><a style="color: #FFFFFF;" [routerLink]="['/myaccount']">account_box</a></mat-icon>
    <span>Account</span>
  </div>
  <div class="outer-div">
    <mat-icon><a style="color: #FFFFFF;" [routerLink]="['/cart']">shopping_cart</a></mat-icon>
    <span>Cart</span>
  </div>
  <div class="outer-div">
    <mat-icon><a style="color: #FFFFFF;" [routerLink]="['/contactus']">call</a></mat-icon>
    <span>Contact</span>
  </div>
</div>

<!--<a [routerLink]="['/welcome']"><mat-icon class="footerMenu" >home</mat-icon></a>-->
<!--<a [routerLink]="['/myaccount']"><mat-icon class="footerMenu" >settings</mat-icon></a>-->
<!--<a [routerLink]="['/cart']"><mat-icon class="footerMenu">shopping_cart</mat-icon></a>-->
<!--<a [routerLink]="['/contactus']"><mat-icon class="footerMenu">call</mat-icon></a>-->
