<div class="container">
  <div> <h3 align="center"><b>Get in touch</b></h3></div>
  <div>
    <mat-grid-list cols="2" rowHeight="2:2">
      <mat-grid-tile>
        <div>
          <div><h2 align="center"><b><mat-icon>phone</mat-icon></b></h2></div>
          <div><span>Talk to our customer care</span></div>
          <div>
            <p>Mobile : +91 8122470417 <br>Toll free : 1800 999 9999</p>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <div><h2 align="center"><b><mat-icon>email</mat-icon></b></h2></div>
          <div><span>email to us</span></div>
          <div>
            <p>complaints email : mr.abdulrasheed58@gmail.com <br>Suggestions email : suggestions@gmail.com
            </p>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <div><h2 align="center"><b><mat-icon>share</mat-icon></b></h2></div>
          <div><span>Share us</span></div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <div><h2 align="center"><b><mat-icon>star</mat-icon></b></h2></div>
          <div><span>Rate us</span></div>
          <div>
            <p>rate us on play store <br>rate us on iPhone
            </p>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
