<app-carousel></app-carousel><br>
<div  class="yellow-bg">
  <h1>Welcome To Milk Bottle</h1>
  <p>Milk-Bottle is an online milk delivery app that offers natural,
    farm-fresh organic cow and buffalo milk to your doorstep every morning.
    With an intense focus on quality and purity we deliver product to its consumers through a sanitized, cold chain supply every day.
  </p>
<br>
</div>
<!--<div>-->
<!--  <br>-->
<!--  <div>-->
<!--    <mat-grid-list cols="2" rowHeight="2:2" [gutterSize]="'10px'" >-->
<!--      <a [routerLink]="['/productList/kids']">-->
<!--        <mat-grid-tile mat-ripple><img height="100%" width="100%" src="assets/images/service3.jpg">-->
<!--&lt;!&ndash;          <mat-grid-tile-footer>Kids</mat-grid-tile-footer>&ndash;&gt;-->
<!--        </mat-grid-tile>-->
<!--      </a>-->
<!--      <a [routerLink]="['/productList/men']">-->
<!--        <mat-grid-tile mat-ripple><img height="100%" width="100%" src="assets/images/service2.jpg">-->
<!--&lt;!&ndash;          <mat-grid-tile-footer>Men</mat-grid-tile-footer>&ndash;&gt;-->
<!--        </mat-grid-tile>-->
<!--      </a>-->
<!--    </mat-grid-list>-->
<!--  </div>-->
<!--  <div>-->
<!--    <mat-grid-list cols="2" rowHeight="2:2" [gutterSize]="'10px'" >-->
<!--        <mat-grid-tile>-->
<!--          <mat-grid-tile-header>Our Dairy Farm</mat-grid-tile-header>-->
<!--          <p>Our form is fully occupied in large space. We have well organized farm with staff for cleaning and taking milk.-->
<!--            We will leave the cows in a free open ground.-->
<!--            <br><br>-->
<!--            <button type="button" class="btn btn-warning">Know more</button>-->
<!--          </p>-->
<!--          &lt;!&ndash;      <a [routerLink]="['/productList/kids']">&ndash;&gt;-->
<!--        </mat-grid-tile>-->
<!--        <mat-grid-tile>-->
<!--          <mat-grid-tile-header>Milk</mat-grid-tile-header>-->
<!--          <p><br><br>Our form is fully occupied in large space. We have well organized farm with staff for cleaning and taking milk.-->
<!--            We will leave the cows in a free open ground.-->
<!--            <br><br>-->
<!--            <button type="button" class="btn btn-warning">Order</button>-->
<!--          </p>-->
<!--          &lt;!&ndash;      <a [routerLink]="['/productList/kids']">&ndash;&gt;-->
<!--        </mat-grid-tile>-->
<!--    </mat-grid-list>-->
<!--  </div><br>-->

<br>
<div class="row">
  <div class="col">
    <div class="card">
      <img class="card-img-top" height="75%" src="assets/images/service3.jpg" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Our Dairy Farm</h2>
        <p class="card-text">Our form is fully occupied in large space. We have well organized farm with staff for cleaning and taking milk.
          We will leave the cows in a free open ground
        </p>
      </div>
      <div style="text-align: center">
        <button type="button" class="btn btn-warning">Know more</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img class="card-img-top" src="assets/images/service2.jpg" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Fresh milk</h2>
        <p class="card-text">Our form is fully occupied in large space. We have well organized farm with staff for cleaning and taking milk.
          We will leave the cows in a free open ground
        </p>
      </div>
      <div style="text-align: center">
        <!--    <div class="card-footer">-->
        <a [routerLink]="['/productList/milkproducts']"><button type="button" class="btn btn-warning">Place order</button> </a>
      </div>
    </div>
  </div>
</div>
  <div class="about-us" style="background-color: white">
    <h1>About Us</h1>
    <p>With Milk-Bottle you can fulfill all your dairy needs in the most Hassle-free manner.</p>
    <p>Milk is the ‘nature’s perfect food’ for all ages. It is full of all the vital nutrients needed for growth and well being of all the human body.</p>
    <p>In this busy modern lifestyle it’s difficult to get best quality milk and milk products
      We are here to bring that nature’s perfect food with best quality to your doorstep every day.
    </p>
    <p>We deliver farm fresh creamy milk direct from villages/farmers to your home every day without compromising hygienic and quality and without any added preservatives.</p>
    <p>We not only deliver milk also health and nutrition’s to your families, with our high fat milk you can make creamy butter, ghee and buttermilk.</p>
    <p>Milking is taken in old traditional ways manually two times per day and we use traditional buffalos and cows and packed and sealed in glass bottles and will reach your home within two hours of milking.</p>
    <br>
  </div>
  <br><br>
<!--</div>-->



