/*@media only screen and (max-width: 700px) {*/
/*  .modal .mat-grid-tile {*/
/*    width:100% !important;*/
/*    position:relative!important;*/
/*    left:0 !important;*/
/*  }*/
/*  .modal .mat-form-field {*/
/*    width: 100%*/
/*  }*/
/*  .modal .mat-radio-button {*/
/*    padding: 10px;*/
/*  }*/
/*  .modal .mat-raised-button.mat-warn {*/
/*    margin:5px*/
/*  }*/
/*}*/

mat-form-field {
  margin-left: 10%;
  width: 80%;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.7em 0 0.7em 0 !important;
  top: -0.25em;
}


/*.is-invalid {*/
/*  border-left: solid 6px red;*/
/*}*/

.material-icons {
  display: inline-flex;
  vertical-align: middle;
  padding-right: 5px;
  font-size: 18px;
}
label{
  margin-left: 10%;
  font-size: smaller;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
